.categories {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.hometext{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}